:root {
    /* Paleta de colores */
    --primario: #9C27B0;
    --primariooscuro: #89119D;
    --secundario: #FFCE00;
    --secundariooscuro: rgb(233, 287, 2);
    --blanco: #FFF;
    --negro: #000;
    /* Fuentes */
    --fuenteprincipal: font-family: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/**Globales*/

body {
    background-color: var(--primario);
}